DATABASE_URL="mongodb+srv://USER:PASSWORD@HOST/labriot?retryWrites=true&w=majority"
AUTH_SECRET="troque-por-uma-string-grande-e-aleatoria"
API_KEY="chave-do-roboflow-workflows"
ROBOFLOW_API_KEY="chave-do-roboflow-workflows"
ROBOFLOW_EMBED_URL="https://app.roboflow.com/..."
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY="sua-access-key-publica-do-web3forms"
NEXT_PUBLIC_HCAPTCHA_SITE_KEY="sua-site-key-do-hcaptcha"
ALLOW_MOCK_DATA="false"
